{include file="comm/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body table-tool-mini full-table">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <button id="addVillage" class="layui-btn layui-btn-sm"><i
                                class="layui-icon layui-icon-add-1"></i>添加
                        </button>
                    </div>
                </div>
            </div>
            <table id="table" lay-filter="table"></table>
        </div>
    </div>
</div>
<script type="text/html" id="bookBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
{include file="comm/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;

        // 渲染表格
        var insTb = table.render({
            elem: '#table',
            url: '{:url("index")}',
            even: true,
            page: true,  //开启分页
            limits: [10, 20, 50, 100],
            cols: [[
                {type: 'checkbox'}
                , {type: 'numbers', title: '序号'}
                , {field: 'village_id', title: '小区ID', align: 'center'}
                , {field: 'village_name', title: '小区名称', align: 'center'}
                , {field: 'manger_name', title: '小区管理员', align: 'center'}
                , {field: 'village_location', title: '小区位置', align: 'center'}
                , {field: 'village_households_num', title: '小区住户人数', align: 'center'}
                , {field: 'village_parking_num', title: '小区停车位数目', align: 'center'}
                , {title: '操作', toolbar: '#bookBar', align: 'center'}
            ]]
        });

        /* 表格工具条点击事件 */
        table.on('tool(table)', function (obj) {
            if (obj.event === 'edit') { // 修改
                //obj.data
                doEdit(obj.data);
            } else if (obj.event === 'del') { // 删除
                doDel(obj.data.village_id, obj.data.village_name);
            }
        });


        // 添加按钮点击事件
        $('#addVillage').click(function () {
            // $data=[];
            doEdit();
        });

        /* 显示表单弹窗 */
        function doEdit(data) {
            var data1=data;
            $.ajax({
                url: "{:url('villageMaxID')}",
                type: 'GET',
                success: function (num) {
                    $num = num;
                    if (!data) {
                        data=new Object();
                        data['village_id'] = $num + 1;
                    }
                    var layIndex = admin.open({
                        title: (data1 ? '修改' : '添加') + '小区信息',
                        url: "{:url('villageForm')}",
                        data: {data: data},     // 传递数据到表单页面
                        end: function () {
                            if (admin.getLayerData(layIndex, 'formOk')) {  // 判断表单操作成功标识
                                insTb.reload();  // 成功刷新表格
                            }
                        },
                        success: function (layero, dIndex) {
                            // 弹窗超出范围不出现滚动条
                            $(layero).children('.layui-layer-content').css('overflow', 'visible');
                        }
                    });
                }
            })

        }


        /* 删除 */
        function doDel(village_id, name) {
            layer.confirm('确定要删除“' + name + '”吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (index) {
                layer.close(index);
                layer.load(2);
                $.post("{:url('villageDel')}", {
                    village_id: village_id
                }, function (res) {
                    layer.closeAll('loading');
                    if (res.code === 1) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({}, 'data');
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'json');
            });
        }
    });
</script>