{include file="comm/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body table-tool-mini full-table">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input class="layui-input" name="key" placeholder="请输入关键字" autocomplete="off">
                    </div>
                    <div class="layui-inline" style="padding-right: 110px;">
                        <button class="layui-btn icon-btn layui-btn-sm" lay-filter="searchUser" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
            </div>
            <table id="tableUser" lay-filter="tableUser"></table>
        </div>
    </div>
</div>
<script type="text/html" id="bookBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="tableStatusUser">
    <input type="checkbox" lay-filter="ckStatusUser" value="{{d.message_id}}" lay-skin="switch"
           lay-text="已读|未读" {{d.status==1?'checked':''}}/>
</script>
{include file="comm/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;

        // 渲染表格
        var insTb = table.render({
            elem: '#tableUser',
            url: '{:url("index")}',
            even: true,
            page: true,  //开启分页
            limits: [10, 20, 50, 100],
            cols: [[
                {type: 'checkbox'}
                , {type: 'numbers', title: '序号'}
                , {field: 'message_id', title: 'ID', align: 'center'}
                , {field: 'owner_name', title: '业主姓名', align: 'center'}
                , {field: 'owner_tel', title: '业主电话', align: 'center'}
                , {field: 'content', title: '反馈内容', align: 'center'}
                ,{align: 'center', field: 'status', sort: true, templet: '#tableStatusUser', title: '反馈情况'}
                ,{
                    align: 'center', field: 'ctime', sort: true, templet: function (d) {
                        if (d.ctime != null)
                            return layui.util.toDateString(d.ctime*1000, 'yyyy-MM-dd HH:mm:ss');
                        else
                            return "";
                    }, title: '反馈时间'
                }
            ]]
        });

        /* 表格工具条点击事件 */
        table.on('tool(tableUser)', function (obj) {
            if (obj.event === 'edit') { // 修改
                //obj.data
                doEdit(obj.data);
            } else if (obj.event === 'del') { // 删除
                doDel(obj.data.manger_message_id);
            }else if (obj.event === 'reset') { // 重置密码
                resetPsw(obj.data.owner_id, obj.data.owner_name);
            }
        });
        // 删除
        $('#delUser').click(function () {
            var checkRows = table.checkStatus('tableUser');
            if (checkRows.data.length === 0) {
                layer.msg('请选择要删除的数据', {icon: 2});
                return;
            }
            var owner_id = checkRows.data.map(function (d) {
                return d.owner_id;
            });
            doDel(owner_id);
        });
        // 搜索
        form.on('submit(searchUser)', function (data) {
            insTb.reload({where: data.field}, 'data');
        });
        // 添加按钮点击事件
        $('#addUser').click(function () {
            // $data=[];
            doEdit();
        });

        /* 显示表单弹窗 */
        function doEdit(data) {
        //    alert(data['manger_village_id']);
            var data1=data;
            $.ajax({
                url: "{:url('announceMaxId')}",
                type: 'GET',
                success: function (num) {
                    $num = num;
                    if (!data) {
                        data=new Object();
                        data['manger_message_id'] = $num + 1;
                    }
                    var layIndex = admin.open({
                        title: (data1 ? '修改' : '添加') + '用户信息',
                        url: "{:url('announceForm')}",
                        data: {data: data},     // 传递数据到表单页面
                        end: function () {
                            if (admin.getLayerData(layIndex, 'formOk')) {  // 判断表单操作成功标识
                                insTb.reload();  // 成功刷新表格
                            }
                        },
                        success: function (layero, dIndex) {
                            // 弹窗超出范围不出现滚动条
                            $(layero).children('.layui-layer-content').css('overflow', 'visible');
                        }
                    });
                }
            })

        }


        /* 删除 */
        function doDel(manger_message_id) {
            layer.confirm('确定要删除选中数据吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (index) {
                layer.close(index);
                layer.load(2);
                $.post("{:url('msgDel')}", {
                    manger_message_id:manger_message_id
                }, function (res) {
                    layer.closeAll('loading');
                    if (res.code === 1) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({}, 'data');
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'json');
            });
        }
        // 修改用户权限
        form.on('switch(ckStatusUser)', function (obj) {
            layer.load(2);
            $.post('{:url("feedbackStatus")}', {
                message_id: obj.elem.value,
                status: obj.elem.checked ? 1 : 0
            }, function (res) {
                layer.closeAll('loading');
                if (res.code === 1) {
                    layer.msg(res.msg, {icon: 1});
                } else {
                    layer.msg(res.msg, {icon: 2});
                    $(obj.elem).prop('checked', !obj.elem.checked);
                    form.render('checkbox');
                }
            }, 'json');
        });
        // 重置密码
        function resetPsw(owner_id, username) {
            layer.confirm('确定要重置“' + username + '”的登录密码吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                layer.load(2);
                $.post("{:url('resetPwd')}", {
                    owner_id: owner_id
                }, function (res) {
                    layer.closeAll('loading');
                    layer.alert(res.msg, {icon: 1});
                }, 'json');
            });
        }
    });

    // 修改用户状态
    form.on('switch(ckStatusUser)', function (obj) {
        layer.load(2);
        $.post('{:url("userStatus")}', {
            user_id: obj.elem.value,
            status: obj.elem.checked ? 1 : 0
        }, function (res) {
            layer.closeAll('loading');
            if (res.code === 1) {
                layer.msg(res.msg, {icon: 1});
            } else {
                layer.msg(res.msg, {icon: 2});
                $(obj.elem).prop('checked', !obj.elem.checked);
                form.render('checkbox');
            }
        }, 'json');
    });



</script>