<form id="form" lay-filter="form" class="layui-form model-form">
    <input name="owner_id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">业主姓名</label>
        <div class="layui-input-block">
            <input name="owner_name" placeholder="请输入姓名" type="text" class="layui-input"
                   lay-verType="tips" lay-verify="required" required/>
        </div>

        <!--input中的name的值一定要和数据库表中的字段名要一致-->

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">业主电话</label>
        <div class="layui-input-block">
            <input name="owner_tel" placeholder="请输入业主电话" type="text" class="layui-input"
                   lay-verType="tips" lay-verify="required" required/>
        </div>

        <!--input中的name的值一定要和数据库表中的字段名要一致-->
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required" >业主位置</label>
        <div class="layui-input-block">
            <input name="owner_location" placeholder="请输入业主位置" type="text" class="layui-input"
                   lay-verType="tips" lay-verify="required" required/>
        </div>
    </div>

    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
        <button class="layui-btn" lay-filter="save" lay-submit>保存</button>
    </div>
</form>

<script>
    layui.use(['layer', 'form', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;

        // 回显数据
        var data = admin.getLayerData('#form').data;
        form.val('form', data);

        // 表单提交事件
        form.on('submit(save)', function (data) {
            layer.load(2);
            $.post("{:url('ownerForm')}", data.field, function (res) {
                layer.closeAll('loading');
                if (res.code == 1) {
                    layer.msg(res.msg, {icon: 1});
                    admin.putLayerData('formOk', true, '#form');  // 设置操作成功的标识，#userForm这个只要写弹窗内任意一个元素的id即可
                    admin.closeDialog('#form');  // 关闭页面层弹窗
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
            return false;
        });

    });
</script>