<form id="form" lay-filter="form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">ID</label>
        <div class="layui-input-block">
            <input name="order_id" placeholder="请输入ID" type="text" class="layui-input"
                   lay-verType="tips" lay-verify="required" required/>
        </div>

        <!--input中的name的值一定要和数据库表中的字段名要一致-->

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required" >车库</label>
        <div class="layui-input-block">
            <select name="garage_id" lay-search id="garage" lay-filter="garageSelect">
                <option value="">请选择车库</option>
                {volist name="list" id="vo"}
                <option value="{$vo.id}">{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required" >车位</label>
        <div class="layui-input-block">
            <select name="id" lay-search id="park" lay-filter="parkSelect">
                <option value="">请选择车位</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
        <button class="layui-btn" lay-filter="save" lay-submit>保存</button>
    </div>
</form>

<script>
    layui.use(['layer', 'form', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;

        // 回显数据
        var data = admin.getLayerData('#form').data;
        form.val('form', data);
        form.on('select(garageSelect)',function () {
            var garageId = $("#garage option:selected").val();
            $.ajax({
                type:'POST',
                url:'idForm',
                data:{garage_id:garageId},
                success:function (data) {
                    $("#park").empty();
                    $("#park").html("<option value=''>请选择车位</option>");
                    $.each(data,function(index,item){
                        console.log(item.id);
                        $('#park').append(new Option(item.id));//往下拉菜单里添加元素
                        form.render('select'); //这个很重要
                    })
                },
                error:function () {
                    alert(error);
                }
            })
            form.render('parkSelect');
        });
        /*form.on('select(parkSelect)', function(data){
            //var provinceId = $("#province option:selected").val();
             var garageId = $("#garage option:selected").val();
             data.garage_id=garageId;
            //初始化城市列表
            $.ajax({
                type:'POST',
                url:'idForm',
                data:data,
                async:true,
                success:function (data) {
                    form.render('select');
                }
            })
        });*/
        // 表单提交事件
        form.on('submit(save)', function (data) {
            layer.load(2);
            $.post("{:url('orderForm')}", data.field, function (res) {
                layer.closeAll('loading');
                if (res.code == 1) {
                    layer.msg(res.msg, {icon: 1});
                    admin.putLayerData('formOk', true, '#form');  // 设置操作成功的标识，#userForm这个只要写弹窗内任意一个元素的id即可
                    admin.closeDialog('#form');  // 关闭页面层弹窗
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
            return false;
        });

    });
</script>