{include file="comm/header"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <button id="addAuth" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>
                </div>
            </div>

            <table id="tableMenu"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBarMenu">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
{include file="comm/footer"}
<script>
    layui.use(['layer', 'form', 'admin', 'treeTable', 'util'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var treeTable = layui.treeTable;
        var util = layui.util;

        // 渲染表格
        var insTb = treeTable.render({
            elem: '#tableMenu',
            tree: {
                iconIndex: 1,  // 折叠图标显示在第几列
                idName: 'menu_id',  // 自定义id字段的名称
                pidName: 'parent_id',  // 自定义标识是否还有子节点的字段名称
                isPidData: true  // 是否是pid形式数据
            },
            cellMinWidth: 100,
            cols: [
                {type: 'numbers'},
                {field: 'name', title: '菜单名称', width: 260},
                {title: '菜单图标', templet: '<p><i class="layui-icon  {{d.icon}}"></i></p>', align: 'center', width: 100},
                {field: 'url', title: '菜单url'},
                {
                    field: 'visible', align: 'center', sort: true, templet: function (d) {
                        if(d.visible===1) return   '<span class="text-success">可见</span>';
                        else return '<span class="text-danger">不可见</span>';
                    }, title: '是否可见'
                },
                {field: 'sort', title: '排序号', align: 'center', width: 100},
                {templet: '#tableBarMenu', title: '操作', align: 'center', width: 160}
            ],
            reqData: function (data, callback) {
                $.get('{:url("index")}', function (res) {
                    console.log(res.data);
                    callback(res.data);
                });
            }
        });


        // 添加按钮点击事件
        $('#addAuth').click(function () {
            doEdit();
        });

        // 工具条点击事件
        treeTable.on('tool(tableMenu)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'edit') { // 修改
                doEdit(data);
            } else if (layEvent === 'del') { // 删除
                doDel(data.menu_id, data.name);
            }
        });

        function doEdit(data) {
            var layIndex = admin.open({
                title: (data ? '修改' : '添加') + '菜单',
                url: "{:url('menuForm')}",
                data: { data: data },     // 传递数据到表单页面
                end: function () {
                    if (admin.getLayerData(layIndex, 'formOk')) {  // 判断表单操作成功标识
                        insTb.reload();  // 成功刷新表格
                    }
                },
                success: function (layero, dIndex) {
                    // 弹窗超出范围不出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }


        // 删除
        function doDel(menu_id, name) {
            layer.confirm('确定要删除“' + name + '”吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (index) {
                layer.close(index);
                layer.load(2);
                $.post("{:url('menuDel')}", {
                    menu_id: menu_id
                }, function (res) {
                    layer.closeAll('loading');
                    if (res.code === 1) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({}, 'data');
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'json');
            });
        }

    });
</script>